*{
    margin:0;
    padding: 0%;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;
}

.logo img{
    width: 100%;
}

.navbar{
    display: flex;
}

.nav-list{
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    margin-right: 0%;
    padding: 2% 2%;
    text-align: right;
}

.nav-list li a{
    margin-right: 0%;
    text-decoration: none;
    color: black;
}

.nav-list li a:hover{
    text-decoration: underline;
    color: black;
    margin-right: 0%;
}