{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register user</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'reg.css' %}">
        
        <!-- STYLE CSS -->

	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'images/image-1.png' %}" alt="img1" class="image-1">
				<form class="from-group" method="POST" action="/register/">
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Username">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" class="form-control" placeholder="Phone Number">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" placeholder="Mail">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Confirm Password">
					</div>
					<button>
						<span>Register</span>
					</button>
				</form>
				<img src="{% static 'images/image-2.png' %}" alt="img" class="image-2">
			</div>
			
		</div>
		
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'main1.js' %}"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>