{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url( {% static 'images/intro.jpg' %});">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>Our Services</h2>
							<h3>We also specialize in curating hampers.In addition to the above, we take bulk orders for birthdays,small and big corporate events,etc.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-heart"></i>
								<div class="holder-section">
									<h3>Crafted With Love</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-laptop"></i>
								<div class="holder-section">
									<h3>Crafted With Love<</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-video"></i>
								<div class="holder-section">
									<h3>User Experience</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-mobile"></i>
								<div class="holder-section">
									<h3>User Experience</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-gears"></i>
								<div class="holder-section">
									<h3>Web marketing</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-piechart"></i>
								<div class="holder-section">
									<h3>Web Marketing</h3>
									<p>What is at the utmost importance for us is our customer satisfaction and we thrive and take pride in it.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var element = document.getElementById("service");
			element.classList.add("active");
	   </script>
{% endblock %}